/* Add */
.iconSmall {
    width: 16px;
    height: 16px;
}
.iconMedium {
    width: 24px;
    height: 24px;
}
.iconLarge {
    width: 31px;
    height: 31px;
}
.hide {
    overflow: hidden;
}
.textHide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zSmall {
    z-index: 1;
}
.zMedium {
    z-index: 11;
}
.zLarge {
    z-index: 999;
}
.cursor {
    cursor: pointer;
}
.lineHeight {
    line-height: 1;
}
.hide {
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.slick-slider {
    margin: 0 -1px;
}
/* Add End */

/* Font Size */
.font10 {
    font-size: 10px;
}
.font12 {
    font-size: 12px;
}
.font13 {
    font-size: 13px;
}
.font14 {
    font-size: 14px;
}
.font15 {
    font-size: 15px;
}
.font16 {
    font-size: 16px;
}
.font17 {
    font-size: 17px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font24 {
    font-size: 24px;
}
.font26 {
    font-size: 26px;
}
.font28 {
    font-size: 28px;
}
.font30 {
    font-size: 30px;
}
.font32 {
    font-size: 32px;
}
.font34 {
    font-size: 34px;
}
.font36 {
    font-size: 36px;
}
.font38 {
    font-size: 38px;
}
.font40 {
    font-size: 40px;
}
.font42 {
    font-size: 42px;
}
.font44 {
    font-size: 44px;
}
.font46 {
    font-size: 46px;
}
.font48 {
    font-size: 48px;
}
.font50 {
    font-size: 50px;
}
.font52 {
    font-size: 52px;
}
@font-face {
    font-family: 'SF Pro Display Light';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/SF-Pro-Display-Light.otf');
}
@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
    font-family: 'SF Pro Display Black';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/SF-Pro-Display-Black.otf');
}
.fontLight {
    font-family: 'SF Pro Display Light', sans-serif;
}
.fontRegular {
    font-family: 'SF Pro Display Regular', sans-serif;
    font-weight: normal;
}
.fontMedium {
    font-family: 'SF Pro Display Medium', sans-serif;
}
.fontBold {
    font-family: 'SF Pro Display Bold', sans-serif;
}
.fontBlack {
    font-family: 'SF Pro Display Black', sans-serif;
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'IBMPlexSans Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/IBMPlexSans-Bold.ttf');
}
@font-face {
    font-family: 'FredokaOne Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/FredokaOne-Regular.ttf');
}
.fontNftLight {
    font-family: 'Roboto Light', sans-serif;
}
.fontNftRegular {
    font-family: 'Roboto Regular', sans-serif;
}
.fontNftMedium {
    font-family: 'Roboto Medium', sans-serif;
}
.fontNftBold {
    font-family: 'Roboto Bold', sans-serif;
}
.fontNftBlack {
    font-family: 'Roboto Black', sans-serif;
}
.fontNumberBold {
    font-family: 'IBMPlexSans Bold', sans-serif;
}
.fontLogo {
    font-family: 'FredokaOne Regular', sans-serif;
}
/* Font Size End */

/* Hover */
.colorHover {
    -webkit-transition: color 0.9s ease;
    /* Saf3.2+, Chrome */
    -moz-transition: color 0.9s ease;
    /* IE10 */
    -o-transition: color 0.9s ease;
    /* Opera 10.5+ */
    transition: color 0.9s ease;
}
.heightHover {
    -webkit-transition: all 0.9s  ease ;
    /* Saf3.2+, Chrome */
    -moz-transition: all 0.9s  ease ;
    /* IE10 */
    -o-transition: all 0.9s  ease ;
    /* Opera 10.5+ */
    transition: all 0.9s ease ;
}
.backgroundHover {
    -webkit-transition: opacity 500ms ease-out 0.1s, transform 500ms cubic-bezier(0, 0, 0.001, 1) 0.1s;
    /* Saf3.2+, Chrome */
    -moz-transition: opacity 500ms ease-out 0.1s, transform 500ms cubic-bezier(0, 0, 0.001, 1) 0.1s;
    /* IE10 */
    -o-transition: opacity 500ms ease-out 0.1s, transform 500ms cubic-bezier(0, 0, 0.001, 1) 0.1s;
    /* Opera 10.5+ */
    transition: opacity 500ms ease-out 0.1s, transform 500ms cubic-bezier(0, 0, 0.001, 1) 0.1s;
}
.opacityHover {
    -webkit-transition: opacity 1s ease;
    /* Saf3.2+, Chrome */
    -moz-transition: opacity 1s ease;
    /* IE10 */
    -o-transition: opacity 1s ease;
    /* Opera 10.5+ */
    transition: opacity 1s ease;
}
.allHover {
    -webkit-transition: all 0.3s ease;
    /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease;
    /* IE10 */
    -o-transition: all 0.3s ease;
    /* Opera 10.5+ */
    transition: all 0.3s ease;
}
.topHover {
    -webkit-transition: top 0.7s ease;
    /* Saf3.2+, Chrome */
    -moz-transition: top 0.7s ease;
    /* IE10 */
    -o-transition: top 0.7s ease;
    /* Opera 10.5+ */
    transition: top 0.7s ease;
}
.bottomHover {
    -webkit-transition: bottom 0.9s ease;
    /* Saf3.2+, Chrome */
    -moz-transition: bottom 0.9s ease;
    /* IE10 */
    -o-transition: bottom 0.9s ease;
    /* Opera 10.5+ */
    transition: bottom 0.9s ease;
}
/* Hover End */

/* Padding */
.padding0 {
    padding: 0;
}
.padding3 {
    padding: 3px;
}
.padding5 {
    padding: 5px;
}
.padding8 {
    padding: 8px;
}
.padding10 {
    padding: 10px;
}
.padding15 {
    padding: 15px;
}
.padding18 {
    padding: 18px;
}
.padding20 {
    padding: 20px;
}
.padding25 {
    padding: 25px;
}
.padding30 {
    padding: 30px;
}
.padding35 {
    padding: 35px;
}
.padding40 {
    padding: 40px;
}
.padding45 {
    padding: 45px;
}
.padding50 {
    padding: 50px;
}
/* Padding End */

/* Padding Top */
.paddingTop3 {
    padding-top: 3px;
}
.paddingTop5 {
    padding-top: 5px;
}
.paddingTop8 {
    padding-top: 8px;
}
.paddingTop10 {
    padding-top: 10px;
}
.paddingTop12 {
    padding-top: 12px;
}
.paddingTop14 {
    padding-top: 14px;
}
.paddingTop15 {
    padding-top: 15px;
}
.paddingTop18 {
    padding-top: 18px;
}
.paddingTop20 {
    padding-top: 20px;
}
.paddingTop25 {
    padding-top: 25px;
}
.paddingTop30 {
    padding-top: 30px;
}
.paddingTop35 {
    padding-top: 35px;
}
.paddingTop40 {
    padding-top: 40px;
}
.paddingTop45 {
    padding-top: 45px;
}
.paddingTop50 {
    padding-top: 50px;
}
.paddingTop70 {
    padding-top: 70px;
}
.paddingTop100 {
    padding-top: 100px;
}
.paddingTopXl {
    padding-top: 150px;
}
/* Padding Top End */

/* Padding Bottom */
.paddingBottom3 {
    padding-bottom: 3px;
}
.paddingBottom5 {
    padding-bottom: 5px;
}
.paddingBottom8 {
    padding-bottom: 8px;
}
.paddingBottom10 {
    padding-bottom: 10px;
}
.paddingBottom12 {
    padding-bottom: 12px;
}
.paddingBottom14 {
    padding-bottom: 14px;
}
.paddingBottom15 {
    padding-bottom: 15px;
}
.paddingBottom18 {
    padding-bottom: 18px;
}
.paddingBottom20 {
    padding-bottom: 20px;
}
.paddingBottom25 {
    padding-bottom: 25px;
}
.paddingBottom30 {
    padding-bottom: 30px;
}
.paddingBottom35 {
    padding-bottom: 35px;
}
.paddingBottom40 {
    padding-bottom: 40px;
}
.paddingBottom45 {
    padding-bottom: 45px;
}
.paddingBottom50 {
    padding-bottom: 50px;
}
.paddingBottom70 {
    padding-bottom: 70px;
}
.paddingBottom100 {
    padding-bottom: 100px;
}
.paddingBottomXl {
    padding-bottom: 150px;
}
/* Padding Bottom End */

/* Padding Left */
.paddingLeft5 {
    padding-left: 5px;
}
.paddingLeft10 {
    padding-left: 10px;
}
.paddingLeft15 {
    padding-left: 15px;
}
.paddingLeft20 {
    padding-left: 20px;
}
.paddingLeft25 {
    padding-left: 25px;
}
.paddingLeft30 {
    padding-left: 30px;
}
.paddingLeft35 {
    padding-left: 35px;
}
.paddingLeft40 {
    padding-left: 40px;
}
.paddingLeft45 {
    padding-left: 45px;
}
.paddingLeft50 {
    padding-left: 50px;
}
.paddingLeft60 {
    padding-left: 60px;
}
.paddingLeft70 {
    padding-left: 70px;
}
.paddingLeft90 {
    padding-left: 90px;
}
.paddingLeft100 {
    padding-left: 100px;
}
/* Padding Left End */

/* Padding Right */
.paddingRight5 {
    padding-right: 5px;
}
.paddingRight10 {
    padding-right: 10px;
}
.paddingRight15 {
    padding-right: 15px;
}
.paddingRight20 {
    padding-right: 20px;
}
.paddingRight25 {
    padding-right: 25px;
}
.paddingRight30 {
    padding-right: 30px;
}
.paddingRight35 {
    padding-right: 35px;
}
.paddingRight40 {
    padding-right: 40px;
}
.paddingRight45 {
    padding-right: 45px;
}
.paddingRight50 {
    padding-right: 50px;
}
.paddingRight70 {
    padding-right: 70px;
}
.paddingRight100 {
    padding-right: 100px;
}
/* Padding Right End */

/* margin */
.margin0 {
    margin: 0;
}
.margin4 {
    margin: 4px;
}
.margin5 {
    margin: 5px;
}
.margin10 {
    margin: 15px;
}
.margin15 {
    margin: 15px;
}
.margin20 {
    margin: 20px;
}
.margin25 {
    margin: 25px;
}
.margin30 {
    margin: 30px;
}
.margin35 {
    margin: 35px;
}
.margin40 {
    margin: 40px;
}
.margin45 {
    margin: 45px;
}
.margin50 {
    margin: 50px;
}
/* margin End */

/* margin Top */
.marginTop3 {
    margin-top: 3px;
}
.marginTop5 {
    margin-top: 5px;
}
.marginTop10 {
    margin-top: 10px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop25 {
    margin-top: 25px;
}
.marginTop30 {
    margin-top: 30px;
}
.marginTop35 {
    margin-top: 35px;
}
.marginTop40 {
    margin-top: 40px;
}
.marginTop45 {
    margin-top: 45px;
}
.marginTop50 {
    margin-top: 50px;
}
.marginTop60 {
    margin-top: 60px;
}
.marginTop70 {
    margin-top: 70px;
}
.marginTop100 {
    margin-top: 100px;
}
/* margin Top End */

/* margin Bottom */
.marginBottom0 {
    margin-bottom: 0;
}
.marginBottom5 {
    margin-bottom: 5px;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom15 {
    margin-bottom: 15px;
}
.marginBottom20 {
    margin-bottom: 20px;
}
.marginBottom25 {
    margin-bottom: 25px;
}
.marginBottom30 {
    margin-bottom: 30px;
}
.marginBottom35 {
    margin-bottom: 35px;
}
.marginBottom40 {
    margin-bottom: 40px;
}
.marginBottom45 {
    margin-bottom: 45px;
}
.marginBottom50 {
    margin-bottom: 50px;
}
.marginBottom70 {
    margin-bottom: 70px;
}
.marginBottom100 {
    margin-bottom: 100px;
}
/* margin Bottom End */

/* margin Left */
.marginLeftAuto {
    margin-left: auto;
}
.marginLeft2 {
    margin-left: 2px;
}
.marginLeft3 {
    margin-left: 3px;
}
.marginLeft5 {
    margin-left: 5px;
}
.marginLeft8 {
    margin-left: 8px;
}
.marginLeft10 {
    margin-left: 10px;
}
.marginLeft15 {
    margin-left: 15px;
}
.marginLeft20 {
    margin-left: 20px;
}
.marginLeft25 {
    margin-left: 25px;
}
.marginLeft30 {
    margin-left: 30px;
}
.marginLeft35 {
    margin-left: 35px;
}
.marginLeft40 {
    margin-left: 40px;
}
.marginLeft45 {
    margin-left: 45px;
}
.marginLeft50 {
    margin-left: 50px;
}
.marginLeft70 {
    margin-left: 70px;
}
.marginLeft100 {
    margin-left: 100px;
}
/* margin Left End */

/* margin Right */
.marginRightAuto {
    margin-right: auto;
}
.marginRight2 {
    margin-right: 2px;
}
.marginRight5 {
    margin-right: 5px;
}
.marginRight10 {
    margin-right: 10px;
}
.marginRight15 {
    margin-right: 15px;
}
.marginRight20 {
    margin-right: 20px;
}
.marginRight25 {
    margin-right: 25px;
}
.marginRight30 {
    margin-right: 30px;
}
.marginRight35 {
    margin-right: 35px;
}
.marginRight40 {
    margin-right: 40px;
}
.marginRight45 {
    margin-right: 45px;
}
.marginRight50 {
    margin-right: 50px;
}
.marginRight60 {
    margin-right: 60px;
}
.marginRight70 {
    margin-right: 70px;
}
.marginRight100 {
    margin-right: 100px;
}
/* margin Right End */

/* Color */
.textLight {
    color: #ffffff;
}
.textDark {
    color: #171717;
}
.textSilver {
    color: #f1f6f9;
}
.textLightBlue {
    color: #bde6f9;
}
.textDarkBlue {
    color: #6ac9f5;
}
/* Color End */

/* Background */
.cover {
    object-fit: cover;
    object-position: center;
}
.coverContain {
    object-fit: contain;
    object-position: center;
}
.repeatBackground {
    background-repeat: no-repeat;
}
.coverBackgroundSize {
    background-size: cover;
}
.coverBackgroundContain {
    background-size: contain;
}
.coverBackgroundPositionTop {
    background-position: top center;
}
.coverBackgroundPosition {
    background-position: center;
}
.defaultBackgroundColor {
    background-color: #ffffff;
}
.silverBackgroundColor {
    background-color: #f1f6f9;
}
.darkBackgroundColor {
    background-color: #171717;
}
.lightBlueBackgroundColor {
    background-color: #bde6f9;
}
.darkBlueBackgroundColor {
    background-color: #6ac9f5;
}
.alertBackgroundColor {
    background-color: orange;
}
.successBackgroundColor {
    background-color: #0eb152;
}

/* Background End */

/* Position */
.positionRelative {
    position: relative;
}
.positionAbsolute {
    position: absolute;
}
.positionFixed {
    position: fixed;
}
/* Position End */

/* Border */
.borDerTripleWidth {
    border: 3px solid;
}
.borDerDoubleWidth {
    border-width: 2px;
}
.borDerOneWidth {
    border-width: 1px;
}
.borDerStyle {
    border-style: solid;
}
.borderNone {
    border: none;
}
.borDer {
    border: 1px solid;
}
.borderTop {
    border-top: 1px solid;
}
.borderBottom {
    border-bottom: 1px solid;
}
.borderLeft {
    border-Left: 1px solid;
}
.borderRight {
    border-right: 1px solid;
}
.borderColorDark {
    border-color: rgba(0, 0, 0, .15);
}
.borderColorLight {
    border-color: #eaeaea;
}
.borderColorWhite {
    border-color: #ffffff;
}
.borderColorTinyLight {
    border-color: #272d33;
}
.borderRadiusNone {
    border-radius: 0;
}
.borderRadiusTiny {
    border-radius: 3px;
}
.borderRadiusSmall {
    border-radius: 5px;
}
.borderRadiusMedium {
    border-radius: 12px;
}
.borderRadiusXMedium {
    border-radius: 16px;
}
.borderRadiusLarge {
    border-radius: 25px;
}
.borderRadiusXLarge {
    border-radius: 99px;
}
/* Border End */

/* Text */
.textCenter {
    text-align: center;
}
.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}
.textJustify {
    text-align: justify;
}
.textUppercase {
    text-transform: uppercase;
}
.textCapitalize {
    text-transform: capitalize;
}
/* Text End */

/* Float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.floatNone {
    float: none;
}
/* Float End */

/* Display */
.whiteSpace {
    white-space: nowrap;
}
.displayNone {
    display: none;
}
.displayInline {
    display: inline;
}
.displayBlock {
    display: block;
}
.displayInlineBlock {
    display: inline-block;
}
.displayGrid {
    display: grid;
}
.displayInlineFlex {
    display: inline-flex;
}
.displayTableCell {
    display: table-cell;
}
.displayFlex {
    display: flex;
}
.alignItems {
    align-items: center;
}
.alignItemsEnd {
    align-items: flex-end;
}
.justifyCenter {
    justify-content: center;
}
.justifySpaceBetween {
    justify-content: space-between;
}
.justifySpaceAround {
    justify-content: space-around;
}
.justifySpaceEvenly {
    justify-content: space-evenly;
}
.justifyEnd {
    justify-content: end;
}
/* Display End */
